<div>
	<h4>Работы</h4>
	<span class="changeCategory glyphicon glyphicon-plus" ng-click="showchooseJob=true"></span>
	<span class="changeCategory glyphicon glyphicon-edit" ng-click="showAddUserJob = true"></span>
	<div class="inline-form" ng-show="showAddUserJob">
		<input type="text" class="form-control" ng-model="oneJob.name" placeholder="Название"/>
		<input type="number" min="0" class="form-control" ng-change="calculateUserJob(oneJob)" ng-model="oneJob['job-rank']" placeholder="Разряд работы"/>		
		<input type="number" min="0" class="form-control" ng-change="calculateUserJob(oneJob)" ng-model="oneJob['human-hour']" placeholder="Норма времени, чел*ч"/>
		<input type="number" min="0" class="form-control" ng-change="calculateUserJob(oneJob)" ng-model="oneJob.number" placeholder="Количество"/>
		<input type="number" min="0" class="form-control" ng-init="oneJob.price = 0" ng-model="oneJob.price" placeholder="Стоимость еденицы, грн" disabled/>
		<button type="button" class="btn btn-primary" ng-click="addUserJob(oneJob); showAddUserJob = false">Отправить</button>
		<button type="button" class="btn btn-danger" ng-click="oneJob = {}; showAddUserJob = false">Отмена</button>
	</div>
	<table class="table table-striped table-bordered">
		<tr>
			<th>Номер</th>
			<th>Название</th>
			<th>Артикул</th>
			<th>Амортизация, грн</th>
			<th>Норма времени, чел*ч</th>
			<th>Количество</th>
			<th>Стоимость еденицы, грн</th>
			<th>Сумма, грн</th>
		</tr>
		<tr ng-repeat="job in calculation.jobs">
			<th>{{$index+1}}</th>
			<th >{{job.name}}</th>
			<th>{{job.id}}</th>
			<th>{{job.amortizations}}</th>
			<th>{{job['human-hour']}}</th>
			<th><input type="number" min="0" class="form-control" ng-model="job.number" ng-change="calculation.jobChanged(job)" placeholder="Кол-во"/></th>
			<th>{{job.price}}</th>
			<th>{{job.sum}}</th>
		</tr>
	</table>
</div>
<choose-job ng-show="showchooseJob" data-target="calculation"></choose-job>