<div class="addCategory" ng-show="jobs.common.showAddSection">	
	<div>
		<h3 ng-hide="jobs.common.newSection.id">Добавить раздел</h3>
		<h3 ng-show="jobs.common.newSection.id">Изменить раздел</h3>
		<form name="section" ng-submit="jobs.addJobsSection(jobs.common.newSection.id)">
			<div class="form-group">								
				<input type="text" class="form-control" ng-model="jobs.common.newSection.name" placeholder="Введите название раздела" required>								
			</div>
			<div class="form-group">								
				<textarea class="form-control" ng-model="jobs.common.newSection.description" placeholder="Введите описание раздела" required></textarea>								
			</div>	
			<div class="form-group">								
				<textarea class="form-control" ng-model="jobs.common.newSection.keywords" placeholder="Введите ключевые слова раздела" required></textarea>								
			</div>
			<button type="submit"  class="btn btn-primary">Отправить</button>
			<button type="button" class="btn btn-danger" ng-click="jobs.common.showAddSection = false; jobs.common.newSection = {};">Отмена</button>
		</form>
	</div>
</div>