<div ng-repeat = "category in jobs.categories | orderBy: 'name'">
	<div class="materialCategory hoverColor" ng-class="{active: category.active}" ng-click="jobs.getSections(category.id)">
		<h3>{{category.name}}</h3>
		<p>{{category.description}}</p>	
		<!-- change and delete category -->
		<span class="changeCategory glyphicon glyphicon-pencil" ng-click="jobs.changeCategory(category.id, category.name, category.description)"></span>
		<span class="deleteCategory glyphicon glyphicon-remove" ng-click="jobs.deleteCategory(category.id)"></span>
	</div>
	<div class="materialSections hidly" ng-class="{isshow: category.active}">
		<button type="button" class="btn btn-primary"  ng-click="jobs.common.showAddSection=true">Добавить раздел</button>
		<div>
			<jobs-section></jobs-section>
		</div>
	</div>	
</div>