<div class="addCategory" ng-init="showAddChar = false" ng-show="showAddChar">	
	<div>
		<h3>Добавить характеристику</h3>
		<form name="commonChar" ng-submit="addChar(form);showAddInstrument = false">
			<div class="form-group">								
				<input type="text" class="form-control" ng-model="form.name" placeholder="Введите название характеристики" required>								
			</div>
			<div class="form-group">								
				<input type="text" class="form-control" ng-model="form.measure" placeholder="Введите еденицы измерения характеристики" required>								
			</div>
			<div class="form-group">								
				<textarea class="form-control" ng-model="form.description" placeholder="Введите описание характеристики" required></textarea>								
			</div>	
			<hr/>
			<h4>Значения</h4>
			<hr/>
			<button type="button" class="btn" ng-click="addValue()"><span class="changeCategory glyphicon glyphicon glyphicon-plus" ></span></button>
			<div class="row addValue" ng-init="form.values = []">
				<div class="col-sm-6"><p class="bold">Значение</p></div>
				<div class="col-sm-6"><p class="bold">Коэффициент</p></div>
			</div>
			
			<char-value ng-repeat="value in form.values"></char-value>
			
			<button type="submit"  class="btn btn-primary">Отправить</button>
			<button type="button" class="btn btn-danger" ng-click="showAddChar = false">Отмена</button>
		</form>
	</div>
</div>

<button type="button" class="btn btn-primary" ng-click="showAddChar = true">Добавить характеристику</button>